{{! Maintained by fosterc1 }}
<div class="component__inner scroll-marquee__inner">

  {{> component this}}

  <div class="component__widget scroll-marquee__widget">
    
    <p>ScrollMarquee component is working! Add items to see the marquee.</p>

  </div>

</div>
